#define WIFI1_SSID "aaaa"
#define WIFI1_KEY  "bbbb"
#define WIFI2_SSID "cccc"
#define WIFI2_KEY  "dddd"
#define WIFI_MULTI_ADDAPS() wifiMulti.addAP(WIFI1_SSID, WIFI1_KEY); wifiMulti.addAP(WIFI2_SSID, WIFI2_KEY);
